* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Dongle", sans-serif;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #219ebc;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 300px;
  position: relative;
}

@media only screen and (max-width: 300px) {
  body {
    padding: 10px;
  }
  #root {
    width: 100%;
  }
  .modal {
    padding: 10px;
  }
}

@media only screen and (max-height: 370px) {
  #root {
    padding: 20px 0px;
  }
}
